* {
    margin: 0;
    padding: 0;  
}

body {
    background-color: #eae7e7;
}

a {
    text-decoration: none;
}

.w {
    width: 1000px;
    height: 530px;
    margin: 80px auto;
    /* border: 1px solid red; */
    /* background-color: red; */
    background-color: #fff;
}

.nav {
    /* background-color: #343a40; */
    height: 50px;
    color: #1c5c93;
    padding: 0 20px;
    background-color: #fff;

}

.nav_left p {
    float: left;
    /* width: 100px; */
    /* border: 1px solid blue; */
    line-height: 50px;
    font-size: 20px;
    background-color: #fff;
}

.nav_right {
    float: right;
    line-height: 50px;
    font-size: 10px;
    /* border: 1px solid green; */
    background-color: #fff;
    
}

.nav_right span {
    /* border: 1px solid red; */
    margin-right: 10px;
    
    background-color: #fff;
}

.nav_right span a {
    color: #5c768d;
    background-color: #fff;
}

.nav_right span:last-child {
    margin-right: 30px;
}

.nav_right span a:hover {
    color: #428bca;
    background-color: #fff;
}



.zj {
    position: relative;
    /* background-color: blue; */
    height: 150px;
    background-color: #fff;
}

.zj_big_title {
    width: 1000px;
    height: 130px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
    /* border: 1px solid #000; */
    /* background-color: red; */
    background-color: #fff;
}

.zj_big_title p {
    line-height: 130px;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 25px;
    font-weight: bold;
    color: #5c768d;
    background-color: #fff;
}

.zj_small_title {
    /* background-color: green; */
    /* border: 1px solid green; */
    width: 1000px;
    /* height: 40px; */
    position: absolute; left: 50%; top: 72%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
    background-color: #fff;
}

.zj_small_title p {
    /* line-height: 40px; */
    text-align: center;
    font-size: 5px;
    color: #444444;
    /* border: 1px solid red; */
    background-color: #fff;
}

.footer {
    position: relative;
    height: 320px;
    margin: 0 20px;
    padding: 0 10px;
    background-color: #f5f9fc;
    /* background-color: #000; */
}

.simp {
    width: 220px;
    height: 220px;
    background-color: #fff;
}

.footer1 {
    position: absolute; left: 13%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}

.footer2 {
    position: absolute; left: 37%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}

.footer3 {
    position: absolute; left: 62%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}

.footer4 {

    position: absolute; left: 87%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}


.footer_ico p {
    font-size: 100px;
    /* color: #000; */
    text-align: center;
    color: #20b38e;
    background-color: #fff;
}

.footer_ico .col2 {
    color: #46d1ff;
}

.footer_ico .col3 {
    color: #c042ff;
}

.footer_ico .col4 {
    color: #e0e23c;
}

.footer_tit {
    height: 120px;
    /* background-color: red; */
}

.footer_tit p {
    line-height: 120px;
    text-align: center;
    /* background-color: red; */
}

.footer_tit p a {
    color: #428bca;
}


